sudo: true
os: linux
language: rust
cache: cargo
rust:
  - stable
matrix:
  allow_failures:
    - rust: nightly
script:
  - cargo build --all
  - cargo test --all
addons:
  apt:
    packages:
    - binutils-dev 
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
    - libiberty-dev
    - cmake
    - gcc
    - zlib1g-dev   
after_success:
  - |
    wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
    tar xzf master.tar.gz &&
    cd kcov-master &&
    mkdir build &&
    cd build &&
    cmake .. &&
    make &&
    sudo make install &&
    cd ../.. &&
    rm -rf kcov-master &&
    cargo clean &&
    cargo test --no-run &&
    for file in target/debug/*-*; do mkdir -p "target/cov/$(basename $file)"; kcov --exclude-pattern=/.cargo --verify "target/cov/$(basename $file)" "$file"; done &&
    kcov --coveralls-id=$TRAVIS_JOB_ID --merge target/cov target/cov/* &&
    echo "Uploaded code coverage"